@charset "utf-8";

// import
@import '../Scss/Utils/Reset.scss';
@import '../Scss/Components/Common/Header.scss';


html{
    font-size:62.5%;
}

h1{
    color:black;
}
.display-none{
    display: none;
}

